@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

[data-testid="connect-wallet"] {
  text-indent: -9999px; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-testid="connect-wallet"]::before {
  content: "Connect"; 
  position: absolute;
  text-indent: 0;
  font-size: inherit;
  color: inherit;
}


@font-face {
  font-family: "London";
  src: url("/LondonFill.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

