@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

[data-testid="connect-wallet"] {
  text-indent: -9999px; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-testid="connect-wallet"]::before {
  content: "Connect"; 
  position: absolute;
  text-indent: 0;
  font-size: inherit;
  color: inherit;
}


@layer base {
  @font-face {
    font-family: "London";
    src: url("/LondonFill.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: "Arcade";
    src: url("/ARCADE_N.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
  
}




.pixel-btn {
  @apply text-white py-[15px] px-[40px] m-[10px] text-[14px] border-0 cursor-pointer;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,
              0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038,
              inset 0px 5px #ffffff36;
  transition: transform 0.1s;
}

.pixel-btn:active {
  transform: translateY(5px);
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,
              inset 0px 5px #00000038;
}
