@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: #FFFFFF;
  background-image: url('/sky.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
